@(projectForm: Form[Project],  projects: Seq[(String, String)])

@import helper._

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


@main {

<h1>Add a Project</h1>

    @form(routes.Application.saveProject()) {

    <fieldset>

        @inputText(projectForm("name"), '_label -> "Project name  ", '_help -> "")


    </fieldset>

    <div class="actions">
        <input type="submit" value="Create a new Project" class="btn primary"> or
        <a href="@routes.Application.list()" class="btn">Cancel</a>
    </div>

    }

}

</body>
</html>