@(currentPage: Page[(Person, Option[Project])], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.Application.list(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)

}
@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main {

    <h1>@currentPage.total  projects found</h1>


    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <a class="btn success" id="addPerson" href="@routes.Application.createPerson()">Add a new Person</a>
    <a class="btn success" id="addProject" href="@routes.Application.createProject()">Add a new Project</a>
    <br/><br/><br/>


    @Option(currentPage.items).filterNot(_.isEmpty).map { persons =>

        <table class="projects zebra-striped">
            <thead>
            <tr>
                @header(2, "Project name")
                @header(3, "Person")
                @header(4, "Email")
                @header(5, "Options")
            </tr>
            </thead>
            <tbody>

            @persons.map {
                case (person, project) => {
                    <tr>
                        <td>
                          @for(rec <- project) {
                                <a href="@routes.Application.editProject(rec.id.get)">
                                    @project.map(_.name).getOrElse { <em>-</em> }
                                </a>
                          }
                        </td>
                        <td>
                            <a href="@routes.Application.editPerson(person.id.get)">
                                @person.first_name
                                @person.last_name
                            </a>
                        </td>
                        <td>
                                @person.email
                        </td>
                        <td>
                            <a class="btn danger" href="@routes.Application.deletePerson(person.id.get)">
                                    Delete person
                            </a>
                        <td>
                        Add a new Task

                        </td>
                    </tr>
                }
            }

            </tbody>
        </table>



    }.getOrElse {

       <div class="well">
           <em>Nothing to display</em>
       </div>

    }

}
